@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
   
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 40px;
    }
.login-box{
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.name{
    margin-top: 20px;
    height: 40px;
    width: 270px;

}
.name::placeholder{
    font-size: 15px;
    text-align: center;
}
.email{
    margin-top: 20px;
    height: 40px;
    width: 270px;

}
.email::placeholder{
    font-size: 15px;
    text-align: center;
}
.password{
    margin-top: 20px;
    height: 40px;
    width: 270px;

}
.password::placeholder{
    font-size: 15px;
    text-align: center;
}
.submit{
    margin-top: 20px;
    height: 30px;
    width: 70px;
    margin-left: 10px;

}
.submit::placeholder{
    font-size: 15px;
    text-align: center;
}
p{
    margin-top: 10px;
}
.submit:hover{
    background-color: black;
    color: white;
}
.text{
font-family: "dancing script", sans-serif;
     font-size: 50px;
     font-weight: 700;
     color:black
}