.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.card{
    height:400px;
    width: 400px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-right: 20px;
}
.heading{
    text-align: center;
    color: #f6018d;

}
.content{
    margin-right: 10px;
    padding: 10px;
    text-align: justify;
}
.button{
    width: 100%;
    height: 30px;
    background-color: #ff98e2;
    border: white;
    color:white;
}
.image{
    height: 170px;
    width: 400px;
}